<!-- Describe task in general -->

<p>
    该函数应将两个正数（长和宽）作为输入，并返回矩形的周长。
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}rectangle-perimeter.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>两个整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>输出：</strong>整数 <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>示例</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>如何使用</strong>
    <ul>
        <li><i>在建筑和工程应用中，用于计算建筑物或房间的周长；</i></li>
        <li><i>在计算机制图中计算屏幕上矩形的周长。</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>前提条件</strong>
    <ul>
    <li><i>长、宽∈R；</i></li>
    <li><i>长度、宽度 &gt; 0。</i></li>
    </ul>
</p>
