<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Ця функція повинна приймати на вхід два додатних числа (довжину та ширину) і повертати периметр прямокутника.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}rectangle-perimeter.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Вхідні дані:</strong> Два цілих числа <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Вихідні дані:</strong> Ціле число <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Приклади:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Як використовується:</strong>
    <ul>
        <li><i>в архітектурних та інженерних програмах для обчислення периметра будівель або кімнат;</i></li>
        <li><i>у комп'ютерній графіці для обчислення периметра прямокутника на екрані.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Початкові умови:</strong>
    <ul>
    <li><i>довжина, ширина ∈ R;</i></li>
    <li><i>довжина, ширина &gt; 0.</i></li>
    </ul>
</p>
