<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Cette fonction doit prendre deux nombres positifs (longueur et largeur) en entrée et renvoyer le périmètre d'un rectangle.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}rectangle-perimeter.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Entrée:</strong> Deux nombres entiers <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Sortie:</strong> Entier <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Exemples:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Comment l'utiliser:</strong>
    <ul>
        <li><i>dans les applications d'architecture et d'ingénierie pour calculer le périmètre d'un bâtiment ou d'une pièce;</i></li>
        <li><i>en infographie pour calculer le périmètre d'un rectangle sur un écran.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Conditions préalables:</strong>
    <ul>
    <li><i>longueur, largeur ∈ R;</i></li>
    <li><i>longueur, largeur &gt; 0.</i></li>
    </ul>
</p>
