<!-- Describe task in general -->

<p>
    Функция должна принимать два положительных числа (length и width) в качестве входных данных и возвращать периметр прямоугольника.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}rectangle-perimeter.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
    <strong>Входные данные:</strong> Два целых числа <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
    <strong>Выходные данные:</strong> Целое число <span translate="no">({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Примеры:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Как это может использоваться:</strong>
    <ul>
        <li><i>в архитектурных и инженерных программах для вычисления периметров зданий или комнат;</i></li>
        <li><i>в компьютерной графике для вычисления периметра прямоугольника на экране;</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Предусловия:</strong>
    <ul>
    <li><i>length, width ∈ R;</i></li>
    <li><i>length, width > 0.</i></li>
    </ul>
</p>
