<!-- Describe task in general -->

<p>
    Diese Funktion sollte zwei positive Zahlen (Länge und Breite) als Eingaben annehmen und den Umfang eines Rechtecks zurückgeben.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}rectangle-perimeter.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Zwei ganze Zahlen <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Ganzzahl <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Beispiele:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Wie es verwendet wird:</strong>
    <ul>
        <li><i>in der Architektur und im Ingenieurwesen, um den Umfang von Gebäuden oder Räumen zu berechnen;</i></li>
        <li><i>in der Computergrafik zur Berechnung des Umfangs eines Rechtecks auf einem Bildschirm.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Vorbedingungen:</strong>
    <ul>
    <li><i>länge, Breite ∈ R;</i></li>
    <li><i>länge, Breite &gt; 0.</i></li>
    </ul>
</p>
