<!-- Describe task in general -->

<p>
    Ta funkcja powinna przyjmować dwie liczby dodatnie (długość i szerokość) jako dane wejściowe i zwracać obwód prostokąta.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}rectangle-perimeter.png" alt="example" style="max-height: 300px"/>
</p>

<!-- Explain input and output values -->
<p>
   <strong>Wejście:</strong> Dwie liczby całkowite <span>({% if is_js %}number{% else %}int{% endif %})</span>.
</p>

<p>
   <strong>Wyjście:</strong> Liczba całkowita <span>({% if is_js %}number{% else %}int{% endif %})</span>. 
</p>


<p>
    <strong>Przykłady:</strong>
</p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>

<!-- Here you can explain how it can be used in development -->
<!-- The section is optional -->
<p class="for_info_only">

    <strong>Jak jest używany:</strong>
    <ul>
        <li><i>w zastosowaniach architektonicznych i inżynieryjnych do obliczania obwodu budynków lub pomieszczeń;</i></li>
        <li><i>w grafice komputerowej do obliczania obwodu prostokąta na ekranie.</i></li>
    </ul>
</p>

<!-- Here you can explain some constraints for input-->
<!-- The section is optional -->
<p>
    <strong>Warunki wstępne:</strong>
    <ul>
    <li><i>length, width ∈ R;</i></li>
    <li><i>długość, szerokość &gt; 0.</i></li>
    </ul>
</p>
